body{
    font-family: "Roboto Slab", "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-layout{
    height: 420px;
    width: 320px;
}

.display-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40%;
    border: 2px solid #434444;
}

.btn-container{
    display: flex;
    flex-direction: column;
    height: 60%;
}

.row-button{
    display: flex;
    flex:1;
}

.row-button button {
    flex: 1;
}

.expression-container{
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 10px;
}

.result-container{
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.result-text{
    font-size:40px;
}

.result-btn{
    background-color:#960200;
    color: #fdfdfd;
    border: 2px solid #960200;
}

.operator-btn{
    background-color:#404d5b;
    color: #fdfdfd;
    border: 2px solid #2a323b;
    font-size:20px;

}

.row-button .digit-btn, .not-assigned-btn, .clear-btn{
    background-color:#fdfdfd;
    border: 1px solid #838484;
    font-size: 25px;
}
